// COLOR
$black: rgba(black, 1);
$white: rgba(white, 1);
$color: rgba(33, 28, 38, 1);
$primary: rgba(68, 26, 47, 1);
$secondary: rgba(135, 8, 52, 1);
$pink: rgba(209, 26, 61, 1);
$yellow: rgba(253, 103, 47, 1);
$shadow: rgba(black, 0.05);
$background: rgba(242, 242, 242, 1);
$background-dark: rgba($color, 0.8);

// SPACE
$size-base: 1rem;
$size-2x: $size-base * 2;
$size-3x: $size-base * 3;
$size-4x: $size-base * 4;

$spacing: $size-base;
$spacing-2x: $spacing * 2;
$spacing-xs: $spacing * 0.5;

$offset: $size-base;
$offset-2x: $offset * 2;
$offset-xs: $offset * 0.5;

// TIMER
$duration: 300ms;
$fast: 200ms;
$slow: 500ms;
$timeout: 1s;
$timeout-2x: $timeout * 2;
$timeout-3x: $timeout * 3;

// RADIUS
$radius: 0.1rem;
$radius-round: 9999rem;

// BREAK POINT
$break-md: 414px;
