// COLOR
$black: rgba(black, 1);
$white: rgba(white, 1);
$color: rgba(33, 28, 38, 1);
$primary: rgba(68, 26, 47, 1);
$secondary: rgba(135, 8, 52, 1);
$pink: rgba(209, 26, 61, 1);
$yellow: rgba(253, 103, 47, 1);
$shadow: rgba(black, 0.05);
$background: rgba(242, 242, 242, 1);
$background-dark: rgba($color, 0.8);

// SPACE
$size-base: 1rem;
$size-2x: $size-base * 2;
$size-3x: $size-base * 3;
$size-4x: $size-base * 4;
$spacing: $size-base;
$spacing-large: $spacing * 2;
$spacing-small: $spacing * 0.5;

$radius: 0.1rem;
$radius-round: 9999rem;

// BREAK
$break-mobile: 414px;
